<h1>Welcome Blog App</h1>
<p>this rails app was not generated with scaffold.  It was built manually</p>
<p>Styling is minimal to emphasize on CRUD aspects</p>
<%= link_to 'My Blog', controller: 'articles' %>
